[Unit]
Description=Aibo Web API
After=network.target

[Service]
Restart=always
User=nobody
Group=nogroup

Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Environment=NODE_PORT=81
Environment=deviceId=0a7f36a1-ff9a-474f-9a5a-a7a776e0e0ce
Environment=accessToken=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjExMSJ9.eyJzdWIiOiJhNTg2MDY1YS02NzI0LTRhZmEtODRmNi1kYzRkYTE5ZTVhMGYiLCJleHAiOjE2MTU5OTgxNjMsImlzcyI6Imh0dHBzOi8vcHVibGljLmFwaS5haWJvLmNvbSIsImF1ZCI6IjQ1LjU0NzA2MTA2NzUyMDgxOTIiLCJqdGkiOiIxYWZhZDU5OS1iY2IxLTRkNTQtOGE1OS03NzNjM2EyNGQ4MjYiLCJpYXQiOjE2MDgyMjIxNjN9.bFyvZTDGts8wgFoZbKv7Fy1lX0OEgXMNWCth7MBwOwd8qtIn1utbUveHcas9yZcwTa2fhB2yHyO5oFqX_FTzdpEngsRB7ScjQxByYG6hR7Sm-wgJP0HmP02x0NaZnm92Jnbhdc-m7ssD9LJEJUW2kmgp4-PaLsoJvpBHG49RvP2lZdxkWTq1nn3SbP-KOCrJUcl8uyBN8Usy1_Uwba3JwVTpSTboOk3I9PCqy8-mQUbPTA5Bkn_lHpa_W9mLnVyuY_fjeR-llfGALyzt6YFIflatGvDWMINBh_QLpbTaKjBYxdqRxa4k29SBqunXujVQg4da1j5Dss9DMOeFCTy2hA
Environment=AIBO_CLIENT_ID=45.199399845243392000
Environment=AIBO_CLIENT_SECRET=MGVjNWRmZGUtZDIzZC00YzRmLThlYjgtNGQ0ZGFlMDljOTBi
Environment=VUE_APP_AIBO_URL=https://aibo.jonfleming.net
WorkingDirectory=/home/jon/projects/aibo
ExecStart=/usr/local/bin/node /home/jon/projects/aibo/server.js

[Install]
WantedBy=multi-user.target
